<div class="background">
    <div class="bg__gradient">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="bg__text">
                        <p class="bg__text__head">{{ profile.org_short_name }}</p>
                        <p class="bg__text__naks">{{ profile.org_intro }}</p>
                      <div class="box_acst_number">
                        {% if profile.org_csp_reestr_link %}
                        <a href="{{ profile.org_csp_reestr_link }}">
                            {{ profile.org_csp_code }}
                        </a>
                        {% endif %}
                        {% if profile.org_acsp_reestr_link %}
                        <a href="{{ profile.org_acsp_reestr_link }}">
                            {{ profile.org_acsp_code }}
                        </a>
                        {% endif %}
                        {% if profile.org_acsm_reestr_link  %}
                        <a href="{{ profile.org_acsm_reestr_link }}">
                            {{ profile.org_acsm_code }}
                        </a>
                        {% endif %}
                        {% if profile.org_acso_reestr_link  %}
                        <a href="{{ profile.org_acso_reestr_link }}">
                            {{ profile.org_acso_code }}
                        </a>
                        {% endif %}
                        {% if profile.org_acst_reestr_link  %}
                        <a href="{{ profile.org_acst_reestr_link }}">
                            {{ profile.org_acst_code }}
                        </a>
                        {% endif %}
                        {% if profile.org_cok_reestr_link  %}
                        <a href="{{ profile.org_cok_reestr_link }}">
                            {{ profile.org_cok_code }}
                        </a>
                        {% endif %}
                      </div>
                      <div class="line_bg_block"></div>
                        <p class="bg__text__small">
                            {{ profile.org_history }}
                        </p>
                        <p class="naks__web">
                            <a href="http://naks.ru" target="_blank"
                                title="Национальное Агентство Контроля Сварки">www.naks.ru
                                &nbsp | &nbsp </a>
                            <a href="http://spks.naks.ru" target="_blank"
                                title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                        </p>

                        <div class="online__zayavka__button">
                            <button class="button__zayavka" data-toggle="modal" data-target="#modal-statement">Подать
                                заявку</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
