{% load static %}
{% load link_holders %}
<div class="box_content_page">
    <div class="container">
        <div class="row">


            <div class="col-xl-6">
                <div class="header__name">
                    <p class="">Группа компаний "Стандарт Диагностик"</p>
                </div>
                <div class="content__text__info__box">               
                
                    <p class="text__medium">
                        Учебный центр был создан как структурное подразделение ЗАО МНТЦ «Диагностика» в 1996 году.
                        Получена лицензия Госгортехнадзора на подготовку кадров 22.04.1996 г.
                    </p>
                    <div class="box_content_info_center">
                        <p class="content_info_center">
                            Наша организация аккредитована в системе экспертизы и аккредитации в области промышленной
                            безопасности в качестве Независимого атеестационно-методического центра по
                            предаттестационной подготовке руководителей и специалистов в области промышленной
                            безопасности в следующих областях: А, Б1, Б2, Б3, Б4, Б6, Б7, Б8, Б9, Б10, Б11, Г1, Г2, Г3,
                            Д.
                        </p>
                        <p class="content_info_center">
                            С 2010 г. АНО МАЦ "Стандарт-Диагностика" аккредитована Некоммерческим партнерством
                            «Саморегулируемая организация Союз строительных компаний Урала и Сибири» (Свидетельство о
                            профессионально-общественной аккредитации № 09-15 от 23.03.15г.) и имеет право осуществлять
                            профессиональное обучение руководителей и специалистов организации – членов НП СРО «ССК
                            УрСиб», в рамках реализации программ дополнительного профессионального образования.
                        </p>
                        <p class="content_info_center">
                                В 2011 г. Министерством здравоохранения и социального развития РФ наша организация внесена в реестр аккредитованных организаций, оказывающие услуги в области охраны труда под регистрационным номером № 2234 от 08.11.2011г. (Уведомление от 30.11.2011 г.)
                        </p>
                    </div>              
                    <div class="link__read__more">
                        <a href="{% url 'center' %}#page-top" class="read__more__link">
                            Подробнее об организации <img src="{% static 'img/arrow__next.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>

<div class="col-xl-1">
    
</div>
            <div class="col-xl-5">
                {% include 'mainapp/includes/services_menu.html' %}
            </div>


        </div>


        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Новости</p>
                    <div class="link__read__news">
                        <a href="{% url 'news' %}" class="news__more__link">
                            Ко всем новостям <img src="{% static 'img/arrow__next.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            {% for post in posts %}
            {% include 'mainapp/includes/news_horizontal.html' %}
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Информация</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">

                <div class="info__block">
                    <div class="naks__box">
                        <div class="naks__img__box">
                        </div>
                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Национальное Агентство <br>
                            Контроля Сварки</p>
                        <a href="http://naks.ru" target="_blank">
                            <p class="naks__text__box">www.naks.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="search__color__box">
                        <div class="search__box">
                            <p class="search__link__text">
                                BEWELDER.RU
                            </p>
                            <p class="search__text__small">
                                Поиск работы <br> в области сварки
                            </p>
                        </div>
                    </div>
                    <div class="search__info__box">
                        <p class="search__text__box d-inline-block">Сервис поиска работы <br> в области сварки</p>
                        <a href="http://www.bewelder.ru" target="_blank" class="search__work__link d-inline-block">Найти
                            работу <img src="{% static 'img/arrow__next.png' %}" alt=""></a>
                        <a href="http://www.bewelder.ru" target="_blank">
                            <p class="search__text__box">www.bewelder.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="journal__box">
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="journal__text__small d-inline-block">
                                    Журнал <br> сварка и <br> диагностика
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <div class="journal__img__box"></div>
                            </div>
                        </div>

                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Научно-технический и производственный <br> журнал по сварке,
                            контролю и диганостике
                            <a href="http://www.svarka.naks.ru">
                                <p class="naks__text__box">www.svarka.naks.ru</p>
                            </a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>