{% load static %}
{% load link_holders %}
<div class="box_content_page">
    <div class="container">
        <div class="row">


            <div class="col-xl-6">
                <div class="header__name">
                    <p class="">{% chunk 'ABOUT_ORG' 'chunk_title' %}</p>
                </div>
                <div class="content__text__info__box">

                    <div class="box_content_info_center">
                        <p class="content_info_center">{% chunk 'ABOUT_ORG' 'chunk_html'%}</p>
                    </div>
                    <div class="link__read__more">
                        <a href="{% url 'center_ano_dpo' %}#page-top" class="read__more__link">
                            Подробнее <img src="{% static 'img/arrow__next.png' %}" alt="">
                        </a>
                    </div>
                    <div class="box_img_center my-3">
                        <div class="row">
                        {% for att in attestats %}

                        <div class="col-md-6 col-lg-4">
                            <a href="{{ att.image.url }}" data-fancybox="images" data-caption="{{ att.title }}">
                                <img src="{{ att.image.url }}" class="img-fluid img_center mr-2" />
                            </a>
                        </div>

                        {% endfor %}
                        </div>

                  </div>

                </div>
            </div>

<div class="col-xl-1">

</div>
            <div class="col-xl-5">
                {% include 'mainapp/includes/services_menu.html' %}
            </div>


        </div>


        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Новости</p>
                    <div class="link__read__news">
                        <a href="{% url 'news' %}" class="news__more__link">
                            Ко всем новостям <img src="{% static 'img/arrow__next.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            {% for post in posts %}
            {% include 'mainapp/includes/news_horizontal.html' %}
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Информация</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">

                <div class="info__block">
                    <div class="naks__box">
                        <div class="naks__img__box">
                        </div>
                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Национальное Агентство <br>
                            Контроля Сварки</p>
                        <a href="http://naks.ru" target="_blank">
                            <p class="naks__text__box">www.naks.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="search__color__box">
                        <div class="search__box">
                            <p class="search__link__text">
                                BEWELDER.RU
                            </p>
                            <p class="search__text__small">
                                Поиск работы <br> в области сварки
                            </p>
                        </div>
                    </div>
                    <div class="search__info__box">
                        <p class="search__text__box d-inline-block">Сервис поиска работы <br> в области сварки</p>
                        <a href="http://www.bewelder.ru" target="_blank" class="search__work__link d-inline-block">Найти
                            работу <img src="{% static 'img/arrow__next.png' %}" alt=""></a>
                        <a href="http://www.bewelder.ru" target="_blank">
                            <p class="search__text__box">www.bewelder.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="journal__box">
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="journal__text__small d-inline-block">
                                    Журнал <br> сварка и <br> диагностика
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <div class="journal__img__box"></div>
                            </div>
                        </div>

                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Научно-технический и производственный <br> журнал по сварке,
                            контролю и диганостике
                            <a href="http://www.svarka.naks.ru">
                                <p class="naks__text__box">www.svarka.naks.ru</p>
                            </a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>