{% load static %}
{% load link_holders %}
<div class="box__content">
    <div class="container">
        <div class="row">


            <div class="col-xl-7">
                <div class="header__name">
                    <p class="">Аттестационный центр НАКС</p>
                </div>
                <div class="content__text__info__box">
                    <p class="text__medium">
                        Общество с ограниченной ответственностью ООО «НАКС Стандарт-Диагностика» осуществляет деятельность по аттестации сварочного производства:
                    </p>
                    <div class="box__info__text__small">
                        <p class="info__text__small">
                            Аттестация сварщиков и специалистов сварочного производства согласно требованиям <br>
                            <a href="{% doc_holder 'PB_273' %}">ПБ 03-273-99,</a>
                            <a data-info="RD_495" href="{% doc_holder 'RD_495' %}">РД 03-495-02;</a>
                        </p>
                        <p class="info__text__small">
                            Аттестация технологий сварки согласно требованиям <a data-info="RD_615" href="{% doc_holder 'RD_615' %}">РД 03-615-03;</a>
                        </p>
                        <p class="info__text__small">
                            Аттестация сварочных материалов согласно требованиям <a data-info="RD_613" href="{% doc_holder 'RD_613' %}">РД 03-613-03;</a>
                        </p>
                        <p class="info__text__small">
                            Аттестация сварочного оборудования согласно требованиям <a data-info="RD_614" href="{% doc_holder 'RD_614' %}">РД 03-614-03;</a>
                        </p>
                        <p class="info__text__small">
                            Услуги испытательной лаборатории неразрушающего и разрушающих методов контроля.
                        </p>
                    </div>
                    <p class="header__name__small">
                        Разрешительные документы
                    </p>
                    <main role="main">
                        <p class="imglist d-flex">
                            <a href="{% static 'img/sur_22_ac_max.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                                <img src="{% static 'img/sur_22_ac_min.jpg' %}" class="img-fluid">
                            </a>
                            <a href="{% static 'img/sur_3csp_max.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                                <img src="{% static 'img/sur_3csp_min.jpg' %}" class="img-fluid">
                            </a>
                            <a href="{% static 'img/acsm_62_max.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                                <img src="{% static 'img/acsm_62_min.jpg' %}" class="img-fluid">
                            </a>
                            <a href="{% static 'img/acso_114_max.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                                <img src="{% static 'img/acso_114_min.jpg' %}" class="img-fluid">
                            </a>
                            <a href="{% static 'img/acst_132_max.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                                <img src="{% static 'img/acst_132_min.jpg' %}" class="img-fluid">
                            </a>
                            <a href="{% static 'img/dopusk_st_max.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                                <img src="{% static 'img/dopusk_st_min.jpg' %}" class="img-fluid">
                            </a>
                            <a href="{% static 'img/IL_max.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                                <img src="{% static 'img/IL_min.jpg' %}" class="img-fluid">
                            </a>
                        </p>
                    </main>
                    <div class="link__read__more">
                        <a href="{% link_holder 'ABOUT' %}" class="read__more__link">
                            Подробнее об организации <img src="{% static 'img/arrow__next.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-xl-5">
                {% include 'mainapp/includes/services_menu.html' %}
            </div>


        </div>


        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Новости</p>
                    <div class="link__read__news">
                        <a href="{% url 'news' %}" class="news__more__link">
                            Ко всем новостям <img src="{% static 'img/arrow__next.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            {% for post in posts %}
            {% include 'mainapp/includes/news_horizontal.html' %}
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Информация</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">

                <div class="info__block">
                    <div class="naks__box">
                        <div class="naks__img__box">
                        </div>
                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Национальное Агентство <br>
                            Контроля Сварки</p>
                        <a href="">
                            <p class="naks__text__box">www.naks.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="search__color__box">
                        <div class="search__box">
                            <p class="search__link__text">
                                BEWELDER.RU
                            </p>
                            <p class="search__text__small">
                                Поиск работы <br> в области сварки
                            </p>
                        </div>
                    </div>
                    <div class="search__info__box">
                        <p class="search__text__box d-inline-block">Сервис поиска работы <br> в области сварки</p>
                        <a href="http://www.bewelder.ru" target="_blank" class="search__work__link d-inline-block">Найти работу <img src="{% static 'img/arrow__next.png' %}"
                                alt=""></a>
                        <a href="http://www.bewelder.ru" target="_blank">
                            <p class="search__text__box">www.bewelder.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="journal__box">
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="journal__text__small d-inline-block">
                                    Журнал <br> сварка и <br> диагностика
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <div class="journal__img__box"></div>
                            </div>
                        </div>

                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Научно-технический и производственный <br> журнал по сварке,
                            контролю и диганостике
                            <a href="http://www.svarka.naks.ru">
                                <p class="naks__text__box">www.svarka.naks.ru</p>
                            </a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>