{% load static %}
{% load link_holders %}
<div class="footer__block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-4">
                <div class="logo_ac_footer">
                    <img src="{{ profile.org_logotype.url }}" alt="">
                </div>
                <div class="description">
                  {{ profile.org_short_name }} осуществляет деятельность по следующим направлениям: {% for service in all_services %}<span>{{service.title }}{% if not forloop.last %}, {% endif %}<span>{% endfor %}
                </div>
                <div class="description">
                {{ profile.org_history }}
                </div>

                <a href="{% link_holder 'CONFID_POLITIC' %}#page-top" class="political__footer">{% title_holder 'CONFID_POLITIC' %}</a>
                <div class="line__footer__small"></div>
                <div class="prava__footer">
                    © 1994 - 2019 {{ profile.short_name }}. Все права защищены.
                </div>

            </div>
            <div class="col-md-5 col-xl-3">
                <p class="header__text__footer">Информация</p>
                <div class="menu__footer">
                    <ul class="spisok__footer">

                        {% for service in all_services %}
                        <a href="{% url 'service_details' service.pk %}#page-top">
                            <li>{{ service.title }}</li>
                        </a>
                        {% endfor %}


                    </ul>
                </div>

                <div class="spks__link__footer">
                    <img src="{% static 'img/spks__logo.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="info__footer__block">
                    <p class="number__footer">
                        (3519) 58-09-07
                    </p>
                    <p class="consultation__text">{{ profile.org_main_phone_text }}</p>
                    <button class="feedback__footer">
                        <a href="#" data-toggle="modal" data-target="#modal-statement">
                            Оставить заявку</a>
                    </button>
                    <div class="adres__footer__block">
                        <p class="adres__footer__text">{{ profile.org_address }}</p>
                        <div class="click__on__map_footer">
                            <a title="Открыть карту" href="{% url 'contact' %}#map">
                                Посмотреть на карте</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="email__block">

                    {% for contact in footer_contacts %}

                    <a href="mailto:{{ contact.email }}" class="email__link__footer d-block">{{ contact.email }}</a>
                    <a href="tel:{{ contact.phone }}" class="email__link__footer d-block">{{ contact.phone }}</a>
                    <p class="email__text__footer">{{ contact.description }}</p>
                    {% endfor %}



                    <p class="razrabotano">
                        Разработано в - НАКС Медиа
                    </p>
                    <div class="mob__version">
                        <a href="{% url 'political' %}" class="mob__political__footer">Политика конфиденциальности</a>
                        <div class="mob__line__footer__small"></div>
                        <div class="mob__prava__footer">
                            © 1994 - 2019 ООО АЦ «НАКС Стандарт-Диагностика». Все права защищены.
                        </div>
                        <p class="mob__razrabotano">
                            Разработано в - НАКС Медиа
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>