{% load static %}
<div class="box_header_top">
    <div class="container">
        <div class="row">
        <div class="col-xl-4">
            <div class="box_time">
                <p class="time_work">
                    Режим работы: Пн-Чт 08:00 - 17:00
                </p>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="box_time">
                <p class="time_work">
                    Пятница:  08:00 - 15:45
                </p>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="box_time">
                <p class="time_no_work">
                    Сб, Вс: Выходной
                </p>
            </div>
        </div>
        </div>
    </div>
</div>