{% load link_holders %}
<!-- Меню -->
<div class="menu__background">
  <div class="container ">
    <div class="row align-items-center">
      <div class="col-xl-12">
        <div class="menu__navbar">
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <!-- Navbar brand -->

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'main' %}">Главная
                    <span class="sr-only">(current)</span>
                  </a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">О компании</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">


                        <a class="dropdown-item" href="{% link_holder 'ABOUT_ORG' %}#page-top">{% title_holder 'ABOUT_ORG' %}</a>
                        <a class="dropdown-item" href="{% link_holder 'ORG_STRUCTURE' %}">{% title_holder 'ORG_STRUCTURE' %}</a>


                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Услуги</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  {% for service in all_services %}
                    <a class="dropdown-item" href="{% url 'service_details' service.pk %}#page-top">{{ service.title }}</a>
                  {% endfor %}


                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Документы</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  {% for category in document_categories %}
                    <a class="dropdown-item" href="{% url 'docs' %}#{{ category.code }}">{{ category.name }}</a>
                  {% endfor %}
                  </div>
                </li>
                {% comment %} <li class="nav-item active">
                  <a class="nav-link" href="{% url 'reestr' %}">Реестр САСв
                    <span class="sr-only">(current)</span>
                  </a>
                </li> {% endcomment %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'contact' %}#page-top">Контакты
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
              </ul>

            </div>
            <div class="system__button">
              <a href="https://ac.naks.ru/" class="enter__system">Войти в систему</a>
            </div>
          </nav>

          <!--/.Navbar-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Конец меню -->