{% load link_holders %}
<!-- Меню -->
<div class="container ">
  <div class="menu__background">
    <div class="row align-items-center">
      <div class="col-xl-12">
        <div class="menu__navbar">
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <!-- Navbar brand -->

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'main' %}">Главная
                    <span class="sr-only">(current)</span>
                  </a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">О группе компаний</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% link_holder 'AC_STANDARD_DIAGNOSTIKA' %}">{% title_holder 'AC_STANDARD_DIAGNOSTIKA' %}</a>
                    <a class="dropdown-item" href="{% link_holder 'ANO_DPO' %}">{% title_holder 'ANO_DPO' %}</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Услуги</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'attsv' %}">Аттестация сварщиков и <br> специалистов сварочного производства</a>
                    <a class="dropdown-item" href="{% url 'lab' %}#page-top">Лаборатория разрушающего <br>
                        и неразрушающего контроля</a>
                    <a class="dropdown-item" href="{% link_holder 'ATTST' %}">{% title_holder 'ATTST' %}</a>
                    <a class="dropdown-item" href="{% link_holder 'ATTSM' %}">{% title_holder 'ATTSM' %}</a>
                    <a class="dropdown-item" href="{% link_holder 'ATTSO' %}">{% title_holder 'ATTSO' %}</a>
                    <a class="dropdown-item" href="{% link_holder 'UCHEBNIY_CENTR' %}">{% title_holder 'UCHEBNIY_CENTR' %}</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Документы</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Документы ООО "НАКС Стандарт-Диагностика"</a>
                    <a class="dropdown-item" href="#">Документы АНО ДПО "Стандарт-ДиагностикаЙ</a>
                    <a class="dropdown-item" href="#">Документы лаборатории разрушающего <br>
                        и неразрушающего контроля</a>
                  </div>
                </li>
                {% comment %} <li class="nav-item active">
                  <a class="nav-link" href="{% url 'reestr' %}">Реестр САСв
                    <span class="sr-only">(current)</span>
                  </a>
                </li> {% endcomment %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'contact' %}#page-top">Контакты
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
              </ul>

            <a href="{% url 'profstandard' %}#page-top" class="btn btn-success btn-sm">Профстандарты в сварке</a>

            </div>
            <div class="system__button">
              <a href="https://ac.naks.ru/" class="enter__system">Войти в систему</a>
            </div>
          </nav>

          <!--/.Navbar-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Конец меню -->