{% load link_holders %}
<div class="sider__bar__service__pages">
                    <p class="trebovanie__left__column">
                        Оценка квалификации в области сварки:
                    </p>
                    <a href="http://spks.naks.ru/spks/about/" class="trebovanie__list" target="_blank">
                        <p>
                            • О Совете по профессиональным квалификациям в области сварки
                        </p>
                    </a>
                    <a href="http://spks.naks.ru/spks/about_doc/" class="trebovanie__list" target="_blank">
                        <p>
                            • ПОЛОЖЕНИЕ о Совете по профессиональным квалификациям в области сварки </p>
                    </a>
                </div>