{% load link_holders %}
{% if all_services|length > 0 %}
<div class="header__name">
    <p class="">Услуги центра</p>
</div>
<div class="row">
    {% for service in all_services %}
    <div class="col-md-6 col-xl-12">
        <div class="button__services">
            <a href="{% url 'service_details' service.pk %}#page-top">
                <div class="box__service">
                    <p class="services__name">

                        {{ service.title }}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}
