{% load link_holders %}
<div class="header__name">
    <p class="">Услуги центра</p>
</div>
<div class="row">
    <div class="col-md-6 col-xl-12">
        <div class="button__services">
            <a href="{% url 'atso' %}#page-top">
                <div class="box__service">
                    <p class="services__name">

                        Аттестация сварочного оборудования</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xl-12">
        <div class="button__services">
            <a href="{% url 'acsm' %}">
                <div class="box__service">
                    <p class="services__name">Аттестация сварочных материалов</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xl-12">
        <div class="button__services">
            <a href="{% url 'acst' %}">
                <div class="box__service">
                    <p class="services__name">Аттестация производственной технологии сварки (наплавки)
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xl-12">
        <div class="button__services">
            <a href="{% url 'atsssp' %}">
                <div class="box__service">
                    <p class="services__name">Аттестация сварщиков и специалистов
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xl-12">
        <div class="button__services">
            <a href="{% url 'lab' %}">
                <div class="box__service">
                    <p class="services__name">Лаборатория разрушающего <br>
                        и неразрушающего контроля
                    </p>
                </div>
            </a>
        </div>
    </div>

</div>
