{% load link_holders %}
<div class="sider__bar__service__pages">
                    <p class="trebovanie__left__column">
                        Требования к аттестации:
                    </p>
                    <a data-info="PB_273" href="{% link_holder 'PB_273' %}" class="trebovanie__list">
                        <p>
                            • ПБ 03-273-99</p>
                    </a>
                    <a data-info="RD_495" href="{% link_holder 'RD_495' %}" class="trebovanie__list">
                        <p>
                            • РД 03-495-02</p>
                    </a>
                    <p class="right__column__header">
                        Подать заявку на аттестацию:
                    </p>
                    <div class="list__service__column">
                        <p class="small__column__text"><a href="{% url 'attsv' %}#page-top"> Аттестация сварщиков
                                и специалистов сварочного производства</a></p>
                        <p class="small__column__text"><a href="{% url 'lab' %}"> Лаборатория разрушающего
                                и неразрушающего контроля</a></p>
                        <p class="small__column__text"><a href="{% link_holder 'ATTST' %}"> {% title_holder 'ATTST' %}</p>
                        <p class="small__column__text"><a href="{% link_holder 'ATTSO' %}"> {% title_holder 'ATTSO' %}
                        <p class="small__column__text"><a href="{% link_holder 'ATTSM' %}"> {% title_holder 'ATTSM' %}</a></p>

                    </div>
                </div>