{% extends 'mainapp/base.html' %}
{% load static %}
{% load link_holders %}
{% block content %}
<div class="box_content_page">
    <div class="container" id="page-top">

        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>


        <div class="row">

            <div class="col-xl-2">
                <div class="header__inside__pages">Услуги центра</div>
            </div>

            <div class="col-md-7 col-xl-7">
                <div class="box__service__inside__pages">
                    <p class="header__service">Аттестация сварочных материалов</p>
                    <div class="inside__pages__online__zayavka__button  ">
                        <button class="button__zayavka__inside__pages" data-toggle="modal"
                            data-target="#modal-statement">Оставить
                            заявку</button>
                    </div>
                    <p class="subtitle_medium_text">
                        Аттестация сварочных материалов
                        в соответствии с РД 03-613-03 «Порядок применения сварочных материалов при изготовлении,
                        монтаже, ремонте и реконструкции технических устройств для опасных производственных объектов»
                    </p>

                    <div class="line_inside_pages"></div>
                    <div class="subtitle_info_service">
                        Перечень видов сварочных материалов, по которым производится аттестация в Аттестационном пункте. 
                    </div>
                    <div class="introduction_text_two">
                        <p>
                            Гг -	Газы горючие;
                        </p>
                        <p>
                            Гз -	Газы защитные;
                        </p>
                        <p>
                            Пп -	Проволока порошковая и ленты порошковые;
                        </p>
                        <p>
                            Пс -	Проволока сварочная сплошного сечения;
                        </p>
                        <p>
                            Ф -	Флюсы сварочные;
                        </p>
                        <p>
                            Эп -	Электроды плавящиеся для дуговой сварки;
                        </p>                            
                    </div>
                    <div class="line_inside_pages"></div>
                    <div class="subtitle_info_service">
                        Перечень групп технических устройств, на которые производится аттестация сварочных материалов в ООО «НАКС Стандарт-Диагностика» (АЦСМ-62): 
                    </div>
                    <div class="introduction_text_two">
                        <p>
                            ГДО -	горнодобывающее оборудование;
                        </p>
                        <p>
                            ГО -	газовое оборудование;
                        </p>
                        <p>
                            КО -	котельное оборудование;
                        </p>
                        <p>
                            МО -	металлургическое оборудование;
                        </p>
                        <p>
                            НГДО -	нефтегазодобывающее оборудование;
                        </p>
                        <p>
                            ОТОГ -	оборудование для транспортировки опасных грузов;
                        </p>                            
                        <p>
                            ОХНВП -	оборудование химических, нефтехимических, нефтеперерабатывающих и взрывопожароопасных производств;
                        </p>                            
                        <p>
                            ПТО -	подъемно-транспортное оборудование
                        </p>                            
                        <p>
                            СК -	строительные конструкции;
                        </p>                            
                    </div>               

                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-xl-2">

                {% include 'mainapp/includes/side_panel_links_acsm.html' %}

            </div>

        </div>


        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>
    </div>
</div>
{% endblock  %}