{% extends 'mainapp/base.html' %}
{% load static %}
{% load link_holders %}
{% block content %}
<div class="box_content_page">
    <div class="container" id="page-top">

        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>


        <div class="row">

            <div class="col-xl-2">
                <div class="header__inside__pages">Услуги центра</div>
            </div>

            <div class="col-md-7 col-xl-7">
                <div class="box__service__inside__pages">
                    <p class="header__service">Аттестация производственной технологии сварки (наплавки)
                    </p>
                    <div class="inside__pages__online__zayavka__button  ">
                        <button class="button__zayavka__inside__pages" data-toggle="modal"
                            data-target="#modal-statement">Оставить
                            заявку</button>
                    </div>
                    <p class="subtitle_medium_text">
                        АЦСТ-132 ООО «НАКС Стандарт-Диагностика» проводит производственную аттестацию технологий сварки
                        (наплавки) НАКС в соответствии с РД 03-615-03. Этот документ устанавливает порядок применения
                        технологий сварки (наплавки), предназначенных для использования и/или используемых при
                        изготовлении, монтаже, ремонте и реконструкции технических устройств для опасных
                        производственных объектов, а также требования и условия проведения испытаний,
                        освидетельствования и оформления их результатов.
                    </p>
                    <div class="line_inside_pages"></div>
                    <div class="box_service_info">
                        <p>Аттестации НАКС подлежат технологии выполнения сварки и наплавки, используемые при
                            изготовлении,
                            монтаже, ремонте и реконструкции технических устройств, оборудования и сооружений опасных
                            производственных объектов.</p>
                        <p>Производственную аттестацию технологии сварки и наплавки НАКС осуществляют с целью
                            подтверждения
                            того, что организация, занимающаяся изготовлением, монтажом, ремонтом или реконструкцией
                            технических устройств, оборудования и сооружений, применяемых на опасных производственных
                            объектах, обладает техническими, организационными возможностями и квалифицированными кадрами
                            для
                            производства сварки (наплавки) по аттестованным технологиям, а также проверки того, что
                            сварные
                            соединения (наплавки), выполненные в условиях конкретного производства по аттестуемой
                            технологии, обеспечивают соответствие требованиям к опасным производственным объектам..</p>
                        <p>Для проведения любой производственной аттестации технологии сварки (наплавки) в НАКС
                            организация-заявитель должна представить соответствующую документацию, содержащую указания о
                            применяемом сварочном и вспомогательном оборудовании, способах сварки (наплавки),
                            используемых
                            основных и сварочных материалах, конструкции и размерах свариваемых деталей и сварных швов,
                            режимах и технологических приемах выполнения сварочных работ, требования по оценке качества
                            сварных соединений.</p>
                    </div>
                    <div class="subtitle_info_service">
                        Производственная аттестация технологий сварки подразделяется на:
                    </div>
                    <div class="box_service_info">
                        <p>- Первичную производственную аттестацию технологии сварки и наплавки проводят в случаях,
                            когда организация, занимающаяся изготовлением, монтажом, ремонтом или реконструкцией
                            технических устройств, оборудования и сооружений опасных производственных объектов, впервые
                            применяет аттестуемую технологию, либо в тех случаях, когда в технологию, прошедшую
                            производственную аттестацию, внесены изменения, выходящие за пределы области
                            распространения, указанные в «Свидетельстве НАКС о готовности организации к использованию
                            аттестованной технологии» или в нормативных документах. Первичную производственную
                            аттестацию технологии сварки и наплавки проводят также при отсутствии оформленного
                            разрешения органов Ростехнадзора на применяемую организацией технологию сварки и наплавки;
                        </p>
                        <p>- Периодическую производственную аттестацию технологии сварки и наплавки проводят через
                            каждые четыре года в случаях, когда организация, занимающаяся изготовлением, монтажом,
                            ремонтом или реконструкцией технических устройств, оборудования и сооружений опасных
                            производственных объектов, постоянно применяет технологию, прошедшую первичную
                            производственную аттестацию в своей организации, а также после перерыва в применении данной
                            технологии свыше одного года; </p>
                        <p>- Внеочередную производственную аттестацию технологии сварки и наплавки проводят по
                            требованию территориальных органов Ростехнадзора в случаях, когда организация, занимающаяся
                            изготовлением, монтажом, ремонтом или реконструкцией технических устройств, оборудования и
                            сооружений опасных производственных объектов, выпускает продукцию, не соответствующую
                            требованиям нормативных документов в части обеспечения промышленной безопасности; а также на
                            основании представления руководителя службы (отдела, лаборатории и др.) технического
                            контроля организации, занимающейся изготовлением, монтажом, ремонтом или реконструкцией
                            технических устройств, оборудования и сооружений опасных производственных объектов, или
                            заказчика в связи с ухудшением качества сварных соединений (наплавок).</p>
                        <p>- Внеочередную производственную аттестацию технологии сварки и наплавки проводят по
                            требованию территориальных органов Ростехнадзора в случаях, когда организация, занимающаяся
                            изготовлением, монтажом, ремонтом или реконструкцией технических устройств, оборудования и
                            сооружений опасных производственных объектов, выпускает продукцию, не соответствующую
                            требованиям нормативных документов в части обеспечения промышленной безопасности; а также на
                            основании представления руководителя службы (отдела, лаборатории и др.) технического
                            контроля организации, занимающейся изготовлением, монтажом, ремонтом или реконструкцией
                            технических устройств, оборудования и сооружений опасных производственных объектов, или
                            заказчика в связи с ухудшением качества сварных соединений (наплавок).</p>
                        <p class="introduction_text_warning">
                            Подробную информацию об услугах по аттестации технологии сварки (наплавки), сроках
                            проведения и стоимости, вы можете узнать у специалистов АЦСТ-132 ООО «НАКС
                            Стандарт-Диагностика».
                        </p>
                    </div>
                    <div class="subtitle_info_service">
                        Перечень документов,
                        представляемых в аттестационный центр АЦСТ-132 для проведения
                        производственной аттестации технологии сварки (наплавки)

                    </div>

                    <div class="box_service_info">
                        <p>1. Письмо о проведении производственной аттестации технологий сварки (наплавки).</p>
                        <p>2.Заявка для каждого способа сварки (наплавки) и группы опасных технических устройств (с
                            учетом вида технологии).</p>
                        <p>3. Пакет документов для акта проверки (см. столбец «Подтверждающий документ»).
                            сварочные материалы);</p>
                        <p>4. Копия приказа о назначении лица, ответственного за технические вопросы проведения
                            производственной аттестации.</p>
                        <p>5. Приложения к заявке:</p>
                        <div class="introduction_text">
                            <p>
                                • Перечень аттестованного сварочного оборудования с копиями свидетельств НАКС об
                                аттестации
                                оборудования, сертификатов соответствия РФ.
                            </p>
                            <p>
                                • Перечень аттестованных сварщиков и специалистов (с копиями удостоверений и протоколов
                                аттестации), допущенных к работам по заявленным способам сварки (наплавки) и группам
                                опасных технических устройств.
                            </p>
                            <p>
                                • Перечень аттестованных лабораторий контроля сварных соединений и специалистов по
                                контролю (с копиями документов по аттестации лаборатории, удостоверений специалистов по
                                контролю качества сварных соединений и документов о поверке оборудования для
                                разрушающего контроля; договоры с лабораториями).
                            </p>
                        </div>
                        <p>6. Производственно-технологическая документация предприятия-заявителя, утвержденная его
                            руководством, включающая карты технологического процесса сварки (наплавки) производственных
                            сварных соединений и требования к методам контроля с указанием количественных характеристик
                            качества сварных соединений.</p>
                        <p>7. Протоколы контроля производственных сварных соединений в течение 1 года до окончания срока
                            действия предыдущей аттестации, подписанная руководителем лаборатории и заверенная печатью
                            организации-заявителя (при внеочередной и периодической аттестации).</p>
                        <p>8. Сертификаты (для каждого контрольного сварного соединения) на основные материалы.</p>
                        <p>9. Сертификаты (для каждого контрольного сварного соединения) и копии свидетельств НАКС об
                            аттестации сварочных (наплавочных) материалов (электроды, проволока, газы и пр.).</p>
                        <p>10. Акты, протоколы, заключения по контролю качества контрольных сварных соединений,
                            выполненных предприятием-заявителем, представляемые лабораторией контроля ООО «НАКС
                            Стандарт-Диагностика».</p>
                        <p>11. Регистрационные документы предприятия-заявителя (копии):</p>
                        <div class="introduction_text">
                            <p>
                                • Свидетельство о регистрации.
                            </p>
                            <p>
                                • Свидетельство о внесении в единый госреестр юридических лиц.
                            </p>
                            <p>
                                • Свидетельство о постановке на налоговый учет.
                            </p>
                            <p>
                                • Выписка из ЕГРЮЛ.
                            </p>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-xl-2">

                {% include 'mainapp/includes/side_panel_links_acst.html' %}

            </div>

        </div>


        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>
    </div>
</div>
{% endblock  %}