{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <button class="back__to__main mt-3">
        <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                alt="">
            На главную</a>
    </button>


    <div class="row">
        <div class="col-xl-2">
            <div class="header__inside__pages">Все новости</div>
        </div>

            <div class="col-xl-10">
                <div class="row mt-4">
                {% for post in news %}
                    <div class="col-lg-4 mb-4">
                        <div class="block__news">
                            <a href="{% url 'detailview' 'post' post.pk %}#page-top" class="link__news">
                                <div class="box__news">
                                    <p class="data__news__main">{{ post.published_date|date:"d-m-Y" }}</p>
                                    <p class="box__news__text">
                                        {{ post.short_description }}
                                    </p>
                                </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
    </div>
    {% endblock %}