{% extends 'mainapp/base.html' %}
{% load static %}
{% load link_holders %}
{% block content %}
<div class="box_content_page">
    <div class="container" id="page-top">

        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>


        <div class="row">

            <div class="col-xl-2">
                <div class="header__inside__pages">Услуги центра</div>
            </div>

            <div class="col-md-7 col-xl-7">
                <div class="box__service__inside__pages">
                    <p class="header__service">Аттестация сварочного оборудования</p>
                    <div class="inside__pages__online__zayavka__button  ">
                        <button class="button__zayavka__inside__pages" data-toggle="modal"
                            data-target="#modal-statement">Оставить
                            заявку</button>
                    </div>
                    <p class="subtitle_medium_text">
                        Аттестация сварочного оборудования
                        в соответствии с РД 03-614-03 «Порядок применения сварочного оборудования при изготовлении,
                        монтаже, ремонте, и реконструкции технических устройств для опасных производственных объектов»
                    </p>

                    <div class="line_inside_pages"></div>
                    <div class="subtitle_info_service">
                        Для аттестации сварочного оборудования (СО) заказчик предоставляет в АЦ:
                    </div>
                    <div class="box_service_info">
                        <p>- карточку предприятия с банковскими реквизитами;</p>
                        <p>- заявку потребителя или заявку производителя</p>
                        <p>- паспорт организации - изготовителя;</p>
                        <p>- сертификат соответствия Российской Федерации или его заверенные копии;</p>
                        <p>- данные по условиям эксплуатации сварочного оборудования;</p>
                        <p>- aттестат соответствия на тип сварочного оборудования, выданный головным институтом отрасли
                            (при наличии);</p>
                        <p>- технологические карты на выполняемые сварные соединения;</p>
                        <p>- ксерокопии документов аттестованных сварщиков по заявляемым группам ОТУ;</p>
                        <p>- сертификаты на сварочные материалы, которые будут использованы для сварки КСС;</p>
                        <p>- ксерокопию документа специалиста по неразрушающему контролю, который будет производить
                            контроль КСС;</p>
                        <p>- копию свидетельства об аттестации лаборатории неразрушающего контроля</p>
                    </div>
                    <div class="line_inside_pages"></div>
                    <div class="subtitle_info_service">
                        Паспорт организации - изготовителя должен включать в себя:
                    </div>
                    <div class="box_service_info">
                        <p>- назначение и область применения сварочного оборудования;</p>
                        <p>- основные технические характеристики сварочного оборудования;</p>
                        <p>- комплектность, устройство и принцип работы сварочного оборудования;</p>
                        <p>- инструкцию по эксплуатации с электрическими, кинематическими, пневмо-гидравлическими
                            схемами;</p>
                        <p>- характерные неисправности и методы их устранения;</p>
                        <p>- инструкции по безопасной эксплуатации и охране труда;</p>
                        <p>При отсутствии паспорта допускается составление дубликата паспорта. </p>
                    </div>
                    <div class="line_inside_pages"></div>
                    <div class="subtitle_info_service">
                        Данные по условиям эксплуатации сварочного оборудования должны содержать:
                    </div>
                    <div class="box_service_info">
                        <p>- Характеристики внешней среды (открытые или закрытые помещения);</p>
                        <p>- Вид (способ) сварки (наплавки);</p>
                        <p>- Номенклатура свариваемых изделий (диапазон толщин, диаметров, марок сталей, применяемые
                            сварочные материалы);</p>
                        <p>- Для СО потребителя - технологические карты на выполняемые сварные соединения и наличие
                            аттестованного обслуживающего персонала;</p>
                        <p>- Для СО производителя - сведения об аттестации производства на право изготовления сварочного
                            оборудования;</p>
                    </div>
                    <div class="line_inside_pages"></div>

                    <div class="subtitle_info_service">
                        Аттестация сварочного оборудования подразделяется на:
                    </div>
                    <p class="introduction_text">
                        Первичную аттестацию, которой подлежит следующее сварочное оборудование:
                    </p>
                    <div class="box_service_info">
                        <p>a) Ранее не аттестованное сварочное оборудование,</p>
                        <p> b) Сварочное оборудование, не выпускаемое ранее данным производителем,</p>

                    </div>
                    <div class="line_inside_pages"></div>
                    <p class="introduction_text">
                        Периодическую аттестацию сварочного оборудования, которую проводят каждые 3 года;
                    </p>
                    <p class="introduction_text">
                        Дополнительную аттестацию сварочного оборудования, прошедшего первичную аттестацию, проводят в
                        случаях:
                    </p>
                    <div class="box_service_info">

                        <p>a) Расширения области использования на другие группы технических устройств для опасных
                            производственных объектов,</p>
                        <p>b) Расширения области применения для других способов сварки,</p>
                        <p>c) При введении в действие новых или внесении изменений в действующие нормативные документы,
                            связанных с дополнительными требованиями к применяемому сварочному оборудованию;</p>

                        <div class="line_inside_pages"></div>
                    </div>
                    <p class="introduction_text">
                        - Внеочередную аттестацию сварочного оборудования у производителя проводят в случае поступления
                        в Госгортехнадзор России или НАКС обоснованных рекламаций на аттестованное сварочное
                        оборудование;
                    </p>
                    <p class="introduction_text">
                        - Внеочередную аттестацию сварочного оборудования у потребителя проводят по решению
                        территориальных органов Госгортехнадзора России в следующих случаях:
                    </p>
                    <div class="box_service_info">

                        <p>a) Повторяющегося неудовлетворительного качества выполняемых этим сварочным оборудованием
                            сварных соединений;</p>
                        <p>b) Изменения рабочих параметров сварочного оборудования при эксплуатации более чем на 10% от
                            номинальных значений;</p>
                        <p>c) После капитального ремонта сварочного оборудования;</p>
                        <p>d) После простоя сварочного оборудования в течение 1 (одного) года без проведения плановых
                            работ по его диагностированию;</p>
                        <p>e) После модернизации или изменения конструкции сварочного оборудования, заключающейся в
                            придании сварочному оборудованию новых сварочно-технологических свойств.</p>

                        <div class="line_inside_pages"></div>
                    </div>
                    <div class="subtitle_info_service">
                        Перечень видов сварочного оборудования, аттестуемого в ООО «НАКС Стандарт-Диагностика»
                        (АЦСО-114):
                    </div>
                    <p class="introduction_text_two">
                        A - оборудование для дуговой сварки.
                    </p>
                    <div class="subtitle_info_service">
                        Перечень групп технических устройств, на которые производится аттестация сварочного оборудования
                        в ООО «НАКС Стандарт-Диагностика»:
                    </div>
                    <div class="introduction_text_two">
                        <p>
                            ГДО - горнодобывающее оборудование;
                        </p>
                        <p>
                            ГО - газовое оборудование;
                        </p>
                        <p>
                            КО - котельное оборудование;
                        </p>
                        <p>
                            МО - металлургическое оборудование;
                        </p>
                        <p>
                            НГДО - нефтегазодобывающее оборудование;
                        </p>
                        <p>
                            ОХНВП - оборудование химических, нефтехимических, нефтеперерабатывающих и
                            взрывопожароопасных производств;
                        </p>
                        <p>
                            ПТО - подъемно-транспортное оборудование
                        </p>
                        <p>
                            СК - строительные конструкции.
                        </p>
                    </div>
                    <div class="subtitle_info_service">
                            Срок действия Свидетельства об аттестации сварочного оборудования:
                        </div>
                        <div class="box_service_info">

                                <p>-  для серийно выпускаемого сварочного оборудования – 3 года;
                                    сварных соединений;</p>
                                <p>-  для опытно-промышленных партий сварочного оборудования, используемого более 6 лет, считая с даты его выпуска- 1,5 года. </p>
                             
                            </div>
                            <p class="introduction_text_warning">
                                    Если по документации завода изготовителя срок службы сварочного оборудования превышает 6 лет - допускается проведение периодической аттестации этого сварочного оборудования каждые 3 года до истечения срока службы сварочного оборудования, указанного в документации завода изготовителя.
                                </p>
              
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-xl-2">

                {% include 'mainapp/includes/side_panel_links.html' %}

            </div>

        </div>
       

        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>
    </div>
</div>
{% endblock  %}