{% extends 'mainapp/base.html' %}
{% load static %}
{% load link_holders %}
{% block content %}
<div class="box_content_page">
    <div class="container" id="page-top">

        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>


        <div class="row">

            <div class="col-xl-2">
                <div class="header__inside__pages">Услуги центра</div>
            </div>

            <div class="col-md-7 col-xl-7">
                <div class="box__service__inside__pages">
                    <p class="header__service">Аттестация сварщиков
                    </p>
                    <div class="inside__pages__online__zayavka__button  ">
                        <button class="button__zayavka__inside__pages" data-toggle="modal"
                            data-target="#modal-statement">Оставить
                            заявку</button>
                    </div>
                    <p class="subtitle_medium_text">
                        Аттестация сварщиков
                        в соответствии с ПБ 03-273-99 «Правила аттестации сварщиков и специалистов сварочного
                        производства» и РД 03-495-02 «Технологический регламент проведения аттестации сварщиков и
                        специалистов сварочного производства»

                    </p>
                    <div class="line_inside_pages"></div>

                    <div class="subtitle_info_service">
                        Для заключения договора на аттестацию сварщика и зачисления в группу специальной подготовки
                        перед аттестацией заявитель представляет в аттестационный центр следующие документы:
                    </div>
                    <div class="box_service_info">
                        <p>- письмо (карточку) предприятия с банковскими реквизитами;</p>
                        <p>- заявка в 2-х экземплярах (в печатном виде и в электронном документообороте на сайте НАКС) в
                            2-х экземплярах (номер присваивается в аттестационном центре);</p>
                        <p>- копия документа об образовании (среднее и/или специальное по профессии сварщик)
                            (Заверенная: дата, подпись с расшифровкой и указанием должности заверяющего лица, печать),
                            оригинал документа для частных лиц;</p>
                        <p>- копия трудовой книжки ( справка о стаже работы по сварке) (не менее последних 12 месяцев)
                            (Заверенная: дата, подпись с расшифровкой и указанием должности, печать, указанием где
                            находится оригинал), оригинал документа для частных лиц (не работающих);</p>
                        <p>- копия документа о квалификационном разряде (Заверенная: дата, подпись с расшифровкой и
                            указанием должности, печать), оригинал документа для частных лиц;</p>
                        <p>- 2 цветных матовых фотографии 3*4 см;</p>
                        <p>- копия мед. справки (о годности к работе сварщиком);</p>
                        <p>- свидетельство о спец. подготовке;</p>
                        <p>- заявка в системе ЭДО НАКС.</p>
                    </div>
                    <div class="line_inside_pages"></div>
                    <div class="subtitle_info_service">
                        Аттестация сварщиков подразделяется на:
                    </div>
                    <p class="introduction_text">
                        - первичную аттестацию, которую проходят сварщики, не имевшие ранее допуска к сварке соединений
                        оборудования, конструкций и трубопроводов, подконтрольных Ростехнадзору;
                    </p>
                    <p class="introduction_text">
                        - периодическую аттестацию, которую проходят сварщики в целях продления указанного срока
                        действия их аттестационных удостоверений на выполнение соответствующих сварочных работ;
                    </p>
                    <p class="introduction_text">
                        - дополнительную аттестацию, которую проходят сварщики, прошедшие первичную аттестацию, перед их
                        допуском к сварочным работам, не указанным в их аттестационных удостоверениях, а также после
                        перерыва свыше 6 месяцев в выполнении сварочных работ, указанных в их аттестационных
                        удостоверениях;
                    </p>
                    <p class="introduction_text">
                        - внеочередную аттестацию, которую проходят сварщики перед их допуском к выполнению сварки после
                        их временного отстранения от работы за нарушение технологии сварки или повторяющееся
                        неудовлетворительное качество выполненных ими производственных сварных соединений.
                    </p>
                    <div class="line_inside_pages"></div>
                    <div class="subtitle_info_service">
                        Перечень видов (способов) сварки, по которым производится аттестация в Аттестационном центре:
                    </div>
                    <div class="introduction_text_two">
                        <p>
                            РД	- ручная дуговая сварка покрытыми электродами (111);
                        </p>
                        <p>
                            РАД	- ручная аргонодуговая сварка неплавящимся электродом (141);
                        </p>
                        <p>
                            МАДП	- механизированная аргонодуговая сварка плавящимся электродом (131);
                        </p>
                        <p>
                            МП	- механизированная сварка плавящимся электродом в среде активных газов и смесях (135);
                        </p>
                        <p>
                            ААД	- автоматическая аргонодуговая сварка неплавящимся электродом;
                        </p>
                        <p>
                            АФ	- автоматическая сварка под флюсом (12);
                        </p>
                        <p>
                            МПС	- механизированная сварка самозащитной порошковой проволокой (114);
                        </p>
                        <p>
                            МПГ	- механизированная сварка порошковой проволокой в среде активных газов (136);
                        </p>
                        <p>
                            ЭШ	- электрошлаковая сварка;
                        </p>
                        <p>
                            МГ	- газовая сварка (311);
                        </p>
                        <p>
                            РДН	- ручная дуговая наплавка покрытыми электродами;
                        </p>
                        <p>
                            РАДН	- ручная аргонодуговая наплавка;
                        </p>
                        <p>
                            ААДН	- автоматическая аргонодуговая наплавка;
                        </p>
                        <p>
                            АФЛН	- автоматическая наплавка ленточным электродом под флюсом;
                        </p>
                        <p>
                            АФПН	- автоматическая наплавка проволочным электродом под флюсом.
                        </p>
                        <p>
                            КСС	– контактная стыковая сварка сопротивлением;
                        </p>
                        <p>
                            КСО	– контактная стыковая сварка оплавлением.
                        </p>
                    </div>
                            <p class="introduction_text_warning">
                                Срок действия удостоверения сварщика – 2 года.
                            </p>
                            <div class="line_inside_pages"></div>
                            <div class="subtitle_info_service">
                                    Продление срока действия аттестационного удостоверения осуществляется: 
                            </div>
                            <div class="box_service_info">
                                 <p>• аттестационного удостоверения сварщика (специалиста сварочного производства I уровня) - на 1 год.</p>
                               </div>
                               <p class="introduction_text">
                                    Продление срока действия аттестационного удостоверения проводится не более двух раз. 
                                    Продление срока действия недействительного аттестационного удостоверения не допускается.
                                    
                                </p>

                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-xl-2">

                {% include 'mainapp/includes/side_panel_links_atsssp.html' %}

            </div>

        </div>


        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
                    class="arrow__back__to__main text-align-center" alt="">
                На главную</a>
        </button>
    </div>
</div>
{% endblock  %}