{% extends 'mainapp/base.html' %}
{% load static %}{% load link_holders %}
{% block content %}

<div class="box_content_page" id="page-top">
  <div class="container">

    <button class="back__to__main">
      <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
          class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>


    <div class="row">
      <div class="col-xl-2">
        <div class="header__inside__pages">Подробная информация</div>
      </div>
      <div class="col-xl-4">
        <div class="headline_center">
          {% chunk 'ORG_DETAILS' 'chunk_title' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2"></div>
      <div class="col-xl-6">
        <p class="subtitle_center">
          АНО ДПО «Стандарт-Диагностика» входит в Группу компаний «Диагностика», которая была основана в 1994 году.
        </p>
        <div class="box_center">
          {% chunk 'ORG_DETAILS' 'chunk_html' %}
        </div>
      </div>
      <div class="col-xl-1"></div>
      <div class="col-xl-3 line_left">
        <div class="box_right_column_center">
          <div class="headline_right_column">
            Документы
          </div>
          <div class="box_doc_right_column_center_dpo">
            <ul class="dpo_spisok_doc">
            {% for doc in random_documents %}
              <a href="{{ doc.document.url }}" download="">
                <li class="p-1">{{ doc.title }}</li>
            {% endfor %}
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <button class="back__to__main">
      <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}"
          class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>
  </div>


</div>

</div>
{% endblock  %}