{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
  <div class="container">

    <button class="back__to__main">
      <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>


    <div class="row">
      <div class="col-xl-2">
        <div class="header__inside__pages">Контакты</div>
      </div>
      <div class="col-xl-5"> 
          <p class="header__doc">Контакты аттестационного центра СУР - 22АЦ</p>       
      <p class="contact__header__pages">     
       </div>
    </div>
    <div class="row">
        <div class="col-xl-2">            
        </div>
        <div class="col-xl-3">
                <p class="contact__header__pages">Телефоны
          </p>
          <p class="contact__number">
              (3519) 58-09-07
          </p>
          <p class="contact__header__pages">Почта
          <div class="email__block">
                <a href="mailto:std-diag@diagmag.ru" class="email__link__footer">std-diag@diagmag.ru</a>
                <p class="email__text__footer">Аттестация сварочных материалов,
                    и сварочного оборудования.</p>
                <a href="mailto:standbuh@diagmag.ru" class="email__link__footer">standbuh@diagmag.ru</a>
                <p class="email__text__footer">Аттестация сварщиков и специалистов сварочного производства.
                </p>
                <a href="mailto:zolotoy_a@diagmag.ru" class="email__link__footer">zolotoy_a@diagmag.ru</a>
                <p class="email__text__footer">Лаборатория неразрушающих и разрушающих методов контроля.</p>
                <a href="mailto:sdiag@diagmag.ru" class="email__link__footer">sdiag@diagmag.ru</a>
                <p class="email__text__footer">Аттестация сварочных материалов,
                    и сварочного оборудования.</p>              
            </div> 
        </div>

        <div class="col-xl-4">
                <p class="contact__header__pages">Адрес
                    </p>
                    <p class="adres__ac">
                            г. Магнитогорск 
                            Профсоюзная, дом 14, офис 111 
                    </p>
                    <p class="contact__header__pages">
                            Наше местоположение
                        </p>
                        <div class="ya__map">
                                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad62703690dc8660795097690647db22fb307a8230a1ddd42ed5d2eb25db377d1&amp;width=737&amp;height=497&amp;lang=ru_RU&amp;scroll=true"></script>
                             </div>
        </div>
    </div>


    <div class="line__otstup__inside__pages"></div>

    <button class="back__to__main">
      <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>
    <div class="line__otstup__inside__pages"></div>
  </div>
{% endblock  %}