{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="box_content_page" id="page-top">
    <div class="container">   

        <button class="back__to__main">
                <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                        alt=""> На главную</a>
            </button>


            <div class="row">         
                <div class="col-xl-2">
                    <div class="header__inside__pages">Политика конфиденциальности</div>
                </div>
                <div class="col-sm-12 col-xl-7">
                    <div class="box_political">
                        <p class="header__political" id="1">
                            1. Введение
                        </p>
                        <p class="political__text__small">
                            Настоящая Политика в отношении обработки персональных данных в ООО
                            «Головной аттестационно-сертификационный центр Республики Башкортостан»
                            (далее – Политика) разработана в соответствии с требованиями Федерального
                            закона Российской Федерации от 27.07.2006 г. № 152-ФЗ «О персональных
                            данных». Настоящая Политика определяет порядок обработки персональных данных и
                            меры по обеспечению безопасности персональных данных в ООО «Головной
                            аттестационно-сертификационный центр Республики Башкортостан» (далее –
                            ООО «ГАЦ РБ») с целью защиты прав субъектов персональных данных при
                            обработке их персональных данных (далее – ПДн).
                        </p>
                        <p class="header__political" id="2">
                            2. Основные понятия
                        </p>
                        <p class="political__text__small">
                            В настоящей Политике используются следующие термины и определения:
                            персональные данные (ПДн) – любая информация, относящаяся к
                            прямо или косвенно определенному или определяемому физическому лицу
                            (субъекту персональных данных (субъект ПДн);
                            оператор персональных данных (оператор) – государственный орган,
                            муниципальный орган, юридическое или физическое лицо, самостоятельно или
                            совместно с другими лицами организующие и (или) осуществляющие обработку
                            персональных данных, а также определяющие цели обработки персональных
                            данных, состав персональных данных, подлежащих обработке, действия
                            (операции), совершаемые с персональными данными;
                            обработка персональных данных – любое действие (операция) или
                            совокупность действий (операций) с персональными данными, совершаемых с
                            использованием средств автоматизации или без их использования. Обработка
                            персональных данных включает в себя, в том числе:
                        </p>
                        <p class="text_pynkt">
                            1. Сбор;
                        </p>
                        <p class="text_pynkt">
                            2. Запись;
                        </p>
                        <p class="text_pynkt">
                            3. Систематизацию;;
                        </p>
                        <p class="text_pynkt">
                            4. Накопление;
                        </p>
                        <p class="text_pynkt">
                            5. уточнение (обновление, изменение);
                        </p>
                        <p class="text_pynkt">
                            6. Извлечение;
                        </p>
                        <p class="text_pynkt">
                            7. Использование;
                        </p>
                        <p class="text_pynkt">
                            8. Извлечение;
                        </p>
                        <p class="text_pynkt">
                            9. Передачу (распространение, предоставление, доступ);
                        </p>
                        <p class="text_pynkt">
                            10. Обезличивание;
                        </p>
                        <p class="text_pynkt">
                            11. Блокирование;
                        </p>
                        <p class="text_pynkt">
                            12. Удаление;
                        </p>
                        <p class="text_pynkt">
                            13. Уничтожение.
                        </p>
                        <p class="political__text__small">
                            Автоматизированная обработка персональных данных – обработка
                            персональных данных с помощью средств вычислительной техники;
                            распространение персональных данных – действия, направленные на
                            раскрытие персональных данных неопределенному кругу лиц;
                            предоставление персональных данных – действия, направленные на
                            раскрытие персональных данных определенному лицу или определенному кругу
                            лиц; блокирование персональных данных – временное прекращение
                            обработки персональных данных (за исключением случаев, если обработка
                            необходима для уточнения персональных данных);
                            уничтожение персональных данных – действия, в результате которых
                            становится невозможным восстановить содержание персональных данных в
                            информационной системе персональных данных и (или) в результате которых
                            уничтожаются материальные носители персональных данных;
                            обезличивание персональных данных – действия, в результате которых
                            становится невозможным без использования дополнительной информации
                            определить принадлежность персональных данных конкретному субъекту
                            персональных данных;
                            информационная система персональных данных – совокупность
                            содержащихся в базах данных персональных данных и обеспечивающих их
                            обработку информационных технологий и технических средств;
                            трансграничная передача персональных данных – передача
                            персональных данных на территорию иностранного государства органу власти
                            иностранного государства, иностранному физическому лицу или иностранному
                            юридическому лицу.
                        </p>
    
                        <p class="header__political" id="3">
                            1.1 Основные права и обязанности ООО «ГАЦ РБ» и субъектов ПДн
                        </p>
                        <p class="political__text__small">
                            1.1.1 Права и обязанности ООО «ГАЦ РБ»
                        </p>
                        <p class="political__text__small">
                            ООО «ГАЦ РБ» является оператором и обладает правом обрабатывать ПДн
                            субъектов ПДн в соответствии с требованиями Федерального закона Российской
                            Федерации от 27.07.2006 г. № 152-ФЗ «О персональных данных», на основании
                            правовых актов, указанных в п. 3 настоящей Политики.
                            При сборе персональных данных ООО «ГАЦ РБ» обязан предоставить
                            субъекту персональных данных по его просьбе информацию:
                            подтверждение факта обработки персональных данных ООО «ГАЦ РБ»;
                            правовые основания и цели обработки персональных данных;
                            цели и применяемые оператором способы обработки персональных
                            данных;
                            наименование и место нахождения ООО «ГАЦ РБ», сведения о лицах (за
                            исключением работников ООО «ГАЦ РБ»), которые имеют доступ к персональным
                            данным или которым могут быть раскрыты персональные данные на основании
                            договора с ООО «ГАЦ РБ» или на основании федерального закона;
                            обрабатываемые персональные данные, относящиеся к соответствующему
                            субъекту персональных данных, источник их получения;
                            сроки обработки персональных данных, в том числе сроки их хранения;
                            порядок осуществления субъектом персональных данных прав,
                            предусмотренных настоящим Федеральным законом;
                            информацию об осуществленной или о предполагаемой трансграничной
                            передаче данных;
                            наименование или фамилию, имя, отчество и адрес лица,
                            осуществляющего обработку персональных данных по поручению ООО «ГАЦ РБ»,
                            если обработка поручена или будет поручена такому лицу;
                            иные сведения, предусмотренные Федеральным законом Российской
                            Федерации от 27.07.2006 № 152-ФЗ «О персональных данных» или другими
                            федеральными законами.
                            ООО «ГАЦ РБ» обязан разъяснить субъекту ПДн юридические последствия
                            отказа предоставить его ПДн в случае, если предоставление ПДн субъектом ПДн
                            является обязательным в соответствии с действующим законодательством
                            Российской Федерации.
                            В случае, если ПДн получены не от субъекта ПДн, до начала обработки таких
                            ПДн ООО «ГАЦ РБ» обязан предоставить субъекту ПДн следующую информацию:
                            – наименование и адрес ООО «ГАЦ РБ»;
                            – цель обработки ПДн субъекта ПДн и ее правовое основание;
                            – предполагаемые пользователи ПДн субъекта ПДн;
                            – установленные Федеральным законом Российской Федерации от
                            27.07.2006 № 152-ФЗ «О персональных данных» права субъекта ПДн;
                            – источник получения ПДн субъекта ПДн.
                            При сборе ПДн, в том числе посредством информационно-
                            телекоммуникационной сети «Интернет», ООО «ГАЦ РБ» обязан обеспечить
                            запись, систематизацию, накопление, хранение, уточнение (обновление,
                            изменение), извлечение ПДн граждан Российской Федерации с использованием
                            баз данных, находящихся на территории Российской Федерации.
                            ООО «ГАЦ РБ» обязан принимать меры, необходимые и достаточные для
                            обеспечения выполнения обязанностей, предусмотренные Федеральным законом
                            Российской Федерации от 27.07.2006 № 152-ФЗ «О персональных данных» и
                            принятыми в соответствии с ним нормативными правовыми актами.
                            ООО «ГАЦ РБ» обязан опубликовать или иным образом обеспечить
                            неограниченный доступ к настоящей Политике.
                            ООО «ГАЦ РБ» обязан утвердить документы и локальные акты,
                            разработанные в соответствии с требованиями Федерального закона Российской
                            Федерации от 27.07.2006 № 152-ФЗ «О персональных данных» и принятыми на
                            его основании нормативными правовыми актами, и (или) иным образом
                            подтвердить принятие мер по обеспечению безопасности обрабатываемых ПДн
                            субъектов ПДн по запросу уполномоченного органа по защите прав субъектов ПДн
                            (далее – Роскомнадзор).
                            ООО «ГАЦ РБ» обязан обеспечить доказательство получения согласия
                            субъекта ПДн на обработку его ПДн или доказательство наличия оснований,
                            указанных в Федеральном законе Российской Федерации от 27.07.2006 № 152-ФЗ
                            «О персональных данных». Лицо, осуществляющее обработку ПДн по поручению
                            ООО «ГАЦ РБ», не обязано получать согласие субъекта ПДн на обработку его
                            ПДн.
                            ООО «ГАЦ РБ» обязан исполнять иные обязательства, установленные
                            Федеральным законом Российской Федерации от 27.07.2006 № 152-ФЗ «О
                            персональных данных» и принятыми на его основании нормативными правовыми
                            актами.
                        </p>
                        <p class="header__political" id="4">
                            1.1.2
                            Права и обязанности субъектов ПДн
                        </p>
                        <p class="political__text__small">
                            Субъект ПДн принимает решение о предоставлении его ПДн и даёт согласие
                            на их обработку свободно, своей волей и в своем интересе. Согласие на
                            обработку ПДн может быть дано субъектом ПДн или его представителем в любой
                            позволяющей подтвердить факт его получения форме, если иное не установлено
                            Федеральным законом Российской Федерации от 27.07.2006 № 152-ФЗ «О
                            персональных данных».
                            Во исполнение требований Федерального закона Российской Федерации от
                            27.07.2006 № 152-ФЗ «О персональных данных», обеспечивающего соблюдение
                            прав субъекта ПДн на доступ к его ПДн, субъект ПДн обладает следующими
                            правами: – имеет право на получение информации, указанной пп.1.3.1 п.1 настоящей
                            Политики, касающейся обработки своих ПДн, в сроки, предусмотренные
                            Федеральным законом Российской Федерации от 27.07.2006 № 152-ФЗ «О
                            персональных данных»;
                            – вправе требовать от ООО «ГАЦ РБ» уточнения своих ПДн, их
                            блокирования или уничтожения в случае, если ПДн являются неполными,
                            устаревшими, неточными, незаконно полученными или не являются
                            необходимыми для заявленной цели обработки, а также принимать
                            предусмотренные Федеральным законом Российской Федерации от 27.07.2006
                            № 152-ФЗ «О персональных данных» меры по защите своих прав;
                            – вправе требовать разъяснения от ООО «ГАЦ РБ» о порядке принятия
                            решения на основании исключительно автоматизированной обработки своих
                            ПДн и возможные юридические последствия такого решения;
                            – вправе обжаловать действия или бездействие ООО «ГАЦ РБ» в
                            Роскомнадзор или в судебном порядке;
                            – имеет право на защиту своих прав и законных интересов, в том числе на
                            возмещение убытков и (или) компенсацию морального вреда в судебном
                            порядке.
                            Право субъекта ПДн на доступ к его ПДн может быть ограничено в
                            соответствии с действующим законодательством Российской Федерации.
                            Субъект ПДн в целях обеспечения достоверности персональных данных
                            субъект ПДн обязан предоставлять ООО «ГАЦ РБ» полные и достоверные данные
                            о себе.
                        </p>
                        <p class="header__political" id="5">
                            2.0 Цели обработки ПДн
                        </p>
                        <p class="political__text__small">
                            ООО «ГАЦ РБ» осуществляет обработку ПДн субъектов ПДн в следующих
                            целях:
                            - аттестация специалистов сварочного производства I-IV уровней
                            При определении объема и содержания обрабатываемых ПДн субъектов
                            ПДн ООО «ГАЦ РБ» руководствуется целями сбора и обработки ПДн.
                            Обработка ПДн ограничивается достижением указанных целей. В
                            ООО «ГАЦ РБ» не допускается обработка ПДн, несовместимая с целями сбора
                            ПДн.
                        </p>
                        <p class="header__political" id="6">
                            3.0 Правовые основания обработки ПДн, субъектов ПДн
                        </p>
                        <p class="political__text__small">
                            Правовым основанием обработки ПДн субъектов ПДн ООО «ГАЦ РБ»
                            является совокупность правовых актов, во исполнение которых и в соответствии с
                            которыми ООО «ГАЦ РБ» осуществляет обработку ПДн.
                            В качестве правового основания обработки ПДн субъектов ПДн ООО «ГАЦ
                            РБ» выступают:
                            - ПБ-03-273-99 «Правила аттестации сварщиков и специалистов сварочного
                            производства;
                            - РД 03-495-02 «Технологический регламент проведения аттестации
                            сварщиков и специалистов сварочного производства»;
                            - нормативные документы НАКС.1
                        </p>
                        <p class="text_pynkt">
                            В качестве правового основания обработки персональных данных могут быть указаны:
                            федеральные законы и принятые на их основе нормативные правовые акты, регулирующие отношения,
                            связанные с деятельностью ООО «ГАЦ РБ»;
                            уставные документы ООО «ГАЦ РБ»;
                            договоры, заключаемые между ООО «ГАЦ РБ» и субъектом персональных данных;
                        </p>
                        <div class="line_end"></div>
                        <p class="prikrep__doc">Прикрепленный файл:</p>
                        <button class="soglashenie__button">
                            <a href="#" class="soglashenie__button__text" title="Политика конфиденциальности" download="#">Документ
                                <img src="{% static '/img/download__icon.png' %}" alt="" class="download__icon"></a>
                        </button>
    
                    </div>
                </div>
                <div class="col-xl-2 remove">
                    <div class="box_right_column sider_bar">
                        <p class="header_right_column ">
                            На этой странице:
                        </p>
    
                        <a href="#1" class="smoothScroll">
                            <li>Введение</li>
                        </a>
                        <a href="#2" class="smoothScroll">
                            <li>Основные понятия</li>
                        </a>
                        <a href="#3" class="smoothScroll">
                            <li>Основные права</li>
                        </a>
                        <a href="#4" class="smoothScroll">
                            <li>Обязанности</li>
                        </a>
                        <a href="#5" class="smoothScroll">
                            <li>Цели обработки</li>
                        </a>
                        <a href="#6" class="smoothScroll">
                            <li>Правовые основания</li>
                        </a>
    
                    </div>
                </div>
            </div>
 
    <button class="back__to__main">
        <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                alt=""> На главную</a>
    </button>

</div>
</div>
{% endblock %}