{% extends 'mainapp/base.html' %}
{% load static %}
{% load link_holders %}
{% block content %}

    <div class="container" id="page-top">

        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>


        <div class="row">
            <div class="col-xl-2">
                <div class="header__inside__pages" id="political">Профстандарты <br>в области сварки</div>
            </div>
            <div class="col-xl-8">
                <div class="row">
                {% for ps in profstandards %}
                    <div class="col-lg-6">
                        <div class="box__standart">
                            <p class="header__standart">
                                Профессиональный стандарт №{{ forloop.counter }}
                            </p>
                            <p class="name__standart">
                                {{ ps.title }}
                            </p>
                            <p class="info__standart">
                                Информация о стандарте
                            </p>
                            <p class="number__standart">
                                Код: {{ ps.ps_code }}
                            </p>
                            <p class="info__standart">
                                Регистрационный номер
                            </p>
                            <p class="number__standart">
                                {{ ps.reg_number }}
                            </p>
                            <p class="info__standart">
                                {{ ps.mintrud_reg }}
                            </p>
                            <button class="download__standart">
                                <a href="{{ ps.document.url }}" class="button__standart" download="">Скачать</a>
                            </button>
                        </div>
                    </div>
                {% endfor %}
                </div>

            </div>

            <div class="col-xl-2">

                {% include 'mainapp/includes/side_panel_links.html' %}
            </div>
        </div>

        <div class="line__otstup__inside__pages"></div>

        <button class="back__to__main">
            <a href="{% url 'main' %}"> <img src="{% static 'img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>
        <div class="line__otstup__inside__pages"></div>
    </div>

    {% comment %} <!-- End Include footer -->
    <div w3-include-html="includes/footer.html"></div>
    <!-- End Include footer --> {% endcomment %}


{% endblock content %}